<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Type</title>
</head>
<body>
    <h1>Payment Method</h1>
    <form>
          <input type="radio" id="card" name="pay_type" value="Card">
          <label for="card">Credit / Debit Card</label><br><br>
          <input type="radio" id="bank" name="pay_type" value="Bank">
          <label for="bank">Bank</label><br><br>
          <input type="button" value="Next">
    </form>
</body>
</html>